<%#link button%>
<% 
url = local_assigns[:url] ? url : '' 
text = local_assigns[:text] ? text : '' 
%>
<%= render "sharedmailer/spacing_div" %>
<a href="<%= url %>" target="_blank" style="color:#ffffff;display: inline-block;text-decoration: none;font-weight:bold;background-color: #10a087;padding: 10px 20px;border-radius: 3px;">
  <%= text %>
</a>
<%= render "sharedmailer/spacing_div" %>