<style>
  .div-overlay-wrapper{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
  }

  .div-panel{
    width: 400px;
    background-color: white;
    height: 150px;
    padding: 20px;
  }

  .div-button-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-drinking-age{
    margin: 10px 15px;
  }

</style>
<div class="div-overlay-wrapper" style="display:none">
  <div class="div-panel">
    <p class="p-message">
      Please confirm you are above the legal drinking age in your country.
    </p>
    <div class="div-button-area">
      <button class="button-drinking-age button-above-drinking-age">Yes</button>
      <button class="button-drinking-age button-below-drinking-age">No</button>
    </div>
  </div>
</div>
<script>
  $(function(){

    var strOver18CookieName = "wattsnshots_age_verification";

    function initHandlers(){
      $('.button-above-drinking-age').click((evt) => {
        saveUserAsOverAge();
        hidePanel();
      });

      $('.button-below-drinking-age').click((evt) => {

        $('.div-panel').html("<p>Sorry, you have to be the legal drinking age to access this website.</p>")
        setTimeout(() => {
          window.location.replace("https://www.google.com");
        }, 2000);
      });
    }

    function isUserLegalAge(){
      var strData = getCookie(strOver18CookieName);
      return !!strData;
    }

    function saveUserAsOverAge(){
      var intNumOfDays = 58 * 365;
      var strValue = "1";

      setCookie(strOver18CookieName, strValue, intNumOfDays);
    }

    function showPanel(){
      $(".div-overlay-wrapper").attr("style", "");
    }

    function hidePanel(){
      $(".div-overlay-wrapper").fadeOut("slow", () => {
        $(".div-overlay-wrapper").attr("style", "display:none");
      });
    }

    function init(){
      if (!isUserLegalAge()){
        showPanel();
        initHandlers();
      }
    }

    init();


  });
</script>