<!-- _steps_nav_next 

This is the row of previous/next links at the bottom of the page

-->

<style>
  a.disabled {
    pointer-events: none;
    color: gray;
  }

  #div-next-area{
    width: 100%;
    position: fixed;
    bottom: 20px;
  }

  .ul-nav-next{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .ul-nav-next li{
    display: inline;
  }

  .a-continue, .a-previous{
    margin: 20px;
    color: #42a3f1;
  }  

</style>

<div id="div-next-area">
  <ul class="ul-nav-next">
    <li><%= link_to "&lt; Go back".html_safe, go_back_url, class: "a-previous "+go_back_class.to_s %></li>
    <li><%= link_to "Continue &gt;".html_safe, continue_url, id: continue_id, class: "a-continue" %></li>
  </ul>
  
  
  
</div>

<%= form_tag("/search", method: "get") do %>
  <% end %>      