<style>

  .ul-steps-names li{
    display: inline;
  }

  .flex-list-steps {
    position: relative;
    margin: 1em;
  }

  .flex-list-steps ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    margin-bottom: 0;
    padding: 0;
  }
  
  .flex-list-steps li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-right: 2px solid #666;
    background-color: transparent;
    list-style-type: none;
    color: #eee; 
  }
  
  .flex-list-steps li:last-child{
    border-right: none;
  }
  
  .flex-list-steps li a{
    color: #eee; 
  }

  .hr-steps{
    border: 1px solid #bbb;
  }

  .li-step.active{
    color: darkblue;
  }

  .li-step.active span{
    background-color: #eee;
    padding: 5px;
  }

  @media only screen and (max-width: 500px){
    .div-steps-nav{
      display: none;
    }
  }

</style>
<div class="div-steps-nav">
  <hr class="hr-steps" />
    <div class="flex-list-steps">
      <ul class="ul-steps-names">
        <li class="li-step <%= current_page == 'step_1' ? 'active' : '' %>"><span>Speaker Package</span></li>
        <li class="li-step <%= current_page == 'step_2' ? 'active' : '' %>"><span>Drinks Package</span></li>
        <li class="li-step <%= current_page == 'step_3' ? 'active' : '' %>"><span>Total Sum</span></li>

        <% if !is_user_logged_in %>
          <li class="li-step <%= current_page == 'step_4' ? 'active' : '' %>"><span>Log In/Register</span></li>
        <% end %>

        <li class="li-step <%= current_page == 'step_5' ? 'active' : '' %>"><span>Party Details</span></li>
        <li class="li-step <%= current_page == 'step_6' ? 'active' : '' %>"><span>Review</span></li>
        <li class="li-step <%= current_page == 'step_7' ? 'active' : '' %>"><span>Payment</span></li>
        <li class="li-step <%= current_page == 'step_8' ? 'active' : '' %>"><span>Confirmation</span></li>
      </ul>
    </div>
  <hr class="hr-steps" />
</div>