<!-- _steps_nav_header 

This is everything that shows at the top of the page - the logo, the "user_menu_widget" and the "steps_nav_full"

-->

<style>

  .img-logo{
    width: 100px;
    height: auto;
  }


  .div-nav{
    float: right;
  }

  .hdr-top-nav{
    padding: 30px;
  }

  @media only screen and (max-width: 500px){
    #toc_3{
      clear: both;
    }
  }

</style>

<header class="hdr-top-nav">
      <img src="/images/wns.logo.png" class="img-logo">
      <div class="div-nav">
        <%= render partial: "components/user_menu_widget", locals: {is_user_logged_in: is_user_logged_in} %>
      </div>


      <%= render partial: 'components/steps_nav_full', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>


</header>
