<!-- _steps_nav_next 

This is the row of previous/next links at the bottom of the page

-->

<style>
  a.disabled {
    pointer-events: none;
    color: gray;
  }

  #div-next-area{
    width: 100%;
    position: absolute;
    bottom: 20px;
  }

  .ul-nav-next{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .ul-nav-next li{
    display: inline;
  }

  .a-continue, .a-previous{
    margin: 20px;
    color: #eee;
  }  

  .btn-standard{
    background-color: #3D5AEF;
    padding: 10px 40px;
    border-radius: 25px;
    color: #eee;
    box-shadow: 0 3px 5px black;  
  }

  #a-update_event{
    position: relative;
    top: -10px;
  }

  .hide{
    visibility: hidden;
  }
</style>

<div id="div-next-area">
  <ul class="ul-nav-next">
    <li><%= link_to "&lt; Go back".html_safe, go_back_url, class: "a-previous "+go_back_class.to_s %></li>


    <!-- li><%= link_to "Update", "#", id: "btn-update", class: 'btn btn-standard' %></li -->
    <li>
      <%= link_to "Update Event", "/event/update/#{event_id}/8", id: "a-update_event", class: 'btn btn-standard' %>
    </li>


    <li><%= link_to "Save & Continue &gt;".html_safe, continue_url, id: continue_id, class: "a-continue hide" %></li>
  </ul>
  
  
  
</div>

<%= form_tag("/search", method: "get") do %>
  <% end %>      