<style>

.flex-list {
  position: relative;
  margin: 1em;
  overflow: hidden;
}
.flex-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
  padding: 0;
}

.flex-list li {
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 1em;
  text-align: center;
  border-right: 2px solid #ccc;
  background-color: transparent;
  list-style-type: none;
  color: #eee; 
}

.flex-list li:last-child{
  border-right: none;
}

.flex-list li a{
  color: #eee; 
}

</style>
<% 
  _adverb = is_user_logged_in ? "out" : "in" 
  _link = "/log#{_adverb}"
%>
<div class="flex-list">
<ul class="ul-nav">
  <li><a href="/">Home</a></li>
  <li><a href="/about_us">About Us</a></li>
  <li><a href="<%= _link %>">Log <%= _adverb %></a></li>
<% if is_user_logged_in %>  
  <li><a href="/user/profile_page">Profile Page</a></li>
<% end %>
</ul>
</div>