<h3 id="toc_3">Sign up</h3>

<%= 
  render partial: "devise/shared/register_form", 
  locals: {resource_obj: resource, url_string: registration_path(resource_name)} 
%>

<%= render "devise/shared/links" %>
