<style>
  
.forgotten-password{
  width: 105%;
  padding: 0;
  margin: 0 0 1em 0;
}

.forgotten-password a{
  color: white;
}
</style>

<%= form_for(resource_obj, as: resource_name, url: url_string) do |f| %>

  <p class="alert"><%= alert %></p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <div class="forgotten-password">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>