<%# TODO: remove inline style%>
<%= form_for(resource_obj, as: resource_name, url: url_string, html: { style: 'width: 800px;' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, autocomplete: "phone" %>
  </div>

  <div class="field register-password">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <label for="user_name">Password Strength: <span id='password-level'></span></label><br>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript">
    var ready;
    ready = function () {
      var passwordField = $('.register-password #user_password')
      passwordField.keyup(function (e) {
        $.post('/password-level', { password: passwordField.val() }, function (data) {
          $( "#password-level" ).html( data.password_level );
        });
      });
    };
    $(ready);
  </script>
<% end %>