<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Watts & Shots | Step3: total</title>


<style type="text/css">
    
    .div-background{
      width: 100vw;
      height: 100vh;
      min-height: 800px;
      background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
      background-color: var(--main-bg-color);
      position: relative;
    }

    .div-to-max{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3{
      text-align: center;
    }

    table.tbl-total-table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

</style>


</head>





























<body>

  <div class="div-background">

    <!-- main partial #1 -->
      <%= render partial: 'components/steps_header_lite', locals: {current_page: "profile_page", is_user_logged_in: is_user_logged_in} %>
    <!-- end -->



    <div class="div-to-max">
      <div class="div-main-content">

        <h3 id="toc_3">About Us</h3>

        <p>Welcome to Watts 'n' Shots, our mission is to help you reduce the stress of organising a Party or Get-Together, and save you money at the same time.<p>

        <p>A simple process enables you to select a sound system and an appropriate amount of alcohol; Book a date for delivery, and gives the option to pay in advance or on delivery. We will arrive at the selected time, setup the sound and deliver the alcohol. Our Technician will plug you in, and then its all yours until the pre-arranged pickup time.</p>
        
      </div>
    </div>
  
  </div>

</body>

</html>
