<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<style>
.div-login-form{
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 7em 10em;
}

.nav-link{
  color: white;
}

.div-login-form{
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px;
    grid-template-columns: 10em 10em;
    height: 425px;
    width: 200px;
    position: relative;
    top: 30px;
}

.div-login-form input{
  background-color: #eee;
}

 .div-background{
      width: 100vw;
      height: 100vw;
      background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
      background-color: var(--main-bg-color);
      position: relative;
    }

    .div-to-max{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3, #toc_4{
      text-align: center;
    }

    table.tbl-total-table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

    #profile, .div-login-old_user{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
      .field_with_errors{
        display: inline;
      }
</style>


















<div class="div-background">

  
    <% # render partial: 'components/steps_header', locals: {current_page: "step_4", is_user_logged_in: false} %>
  
    <!-- main partial #1 -->
      <%= render partial: 'components/steps_header_lite', locals: {current_page: "profile_page", is_user_logged_in: false} %>
    <!-- end -->

  <div class="div-to-max">
    <div class="div-main-content">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link <%= !@register_tab ? 'active': '' %>" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= @register_tab ? 'active': '' %>" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <%= !@register_tab ? 'show active': '' %>" id="home" role="tabpanel" aria-labelledby="home-tab"> 
        <div class="div-login-old_user">
          <div class="div-login-form">  
              <%= 
                render partial: "devise/shared/login_form", 
                locals: {resource_obj: @resource_sign_in, url_string: post_auth_login_path} 
              %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade <%= @register_tab ? 'show active': '' %>" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
      <%# TODO: remove inline style%>
        <div class="div-login-form" style="height: 325px">
          <%= 
            render partial: "devise/shared/register_form", 
            locals: {resource_obj: resource, url_string: post_auth_register_path} 
          %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>







































