<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Watts 'n' Shots | User Profile Page</title>



<style type="text/css">
    .div-background{
      width: 100vw;
      height: 105vw;
      min-height: 800px;
      background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
      background-color: var(--main-bg-color);
      position: relative;
    }

    .div-to-max{
      width: 100%;
      height: 85vw;
      min-height: 550px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    h3{
      text-align: center;
    }

    table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    table *{
      text-align: center;
    }

    table td {
      background: #e6e6e6;
    }

    table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    table th, table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }


    #a-new-event{
      color: #e8d390;
    }
</style>


</head>





























<body>

  <div class="div-background">

    <!-- main partial #1 -->
      <%= render partial: 'components/steps_header_lite', locals: {current_page: "profile_page", is_user_logged_in: true} %>
    <!-- end -->

    <div class="div-to-max">
      <div class="div-main-content">

        <h3 id="toc_3"><%= @capitalized_name %>&#39;s Profile Page</h3>

        <p>Welcome to your profile page, <%= @capitalized_name %>!</p>

        <p>&nbsp;</p>

        <h3 id="toc_4">Create a New Event</h3>

        <ul>
        <li>Click <a href="/steps/step1_speakers.html" onClick="eraseCookie()" id="a-new-event">here</a> to plan a new event with us.</li>
        </ul>

        <p>&nbsp;</p>

        <%= react_component 'FutureEventsTable', data: @future_data %>

        <p>&nbsp;</p>

        <%= react_component 'PastEventsTable', data: @past_data %>

        <p></p>
      </div>
    </div>
  </div>
</body>



<script type="text/javascript">

$(function(){

  var that = this;

  function initHandlers(){
    var fnClickResponseFunction = ((evt) => {
      eraseEditModeCookie();
    }).bind(that);

    $(".a-edit-button, .btn-edit-button").click(fnClickResponseFunction);
  }

  function init(){
    setTimeout(initHandlers, 1000);
    eraseEditModeCookie();
  }

  init();
});

</script>


































