<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step2_drinks</title>


<style type="text/css">

  .div-background{
    width: 100%;
    /* background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop)); */
    background-image: url('/images/drinks.png');
    background-repeat: no-repeat;
      background-size: cover;
    background-color: var(--main-bg-color);
    position: relative;
    padding: 0 0 50px 0;
    overflow: scroll;
  }

  #toc_3{
    text-align: center;
  }

  .div-drinks-table-wrapper{
    display: flex;
    width: 100%;
    place-content: center;
    height: 400px;
    overflow: scroll;  
  }

  table.tbl-drinks-table {
    opacity: 0.9;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    max-width: 700px;
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin: 30px;
  }

  .tbl-drinks-table *{
    text-align: center;
  }

  .tbl-drinks-table td {
    background: #e6e6e6;
  }

  .tbl-drinks-table th{
    background: #f5f5f5;
  }

  .tr-end-block td{
    background: #f5f5f5 !important;
  }
  

  .tbl-drinks-table th, .tbl-drinks-table td {
    padding: 0.7em;
    border-bottom: 2px solid white; 
  }

</style>


</head>




























<body>

  <div class="div-background">

<!-- ruby code --->

  <% if (defined? mode) && (mode == :edit_mode) %>

    <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

    <script type="text/javascript">
      var mode = "edit_mode";
    </script>
    
  
    <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <%= render partial: 'components/steps_nav_edit', locals: {current_page: current_page, event_id: event_id} %>



  <% else %>

    <!-- main partial #1 -->
        <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <!-- end -->
  
  <% end %>
<!-- end -->

  <script>
    var strData = `<%= data.to_s.html_safe %>`;
  </script>
      <div class="div-main-content">
        <h3 id="toc_3">Step 2: Buy Drinks</h3>
        <script>

          function loadDrinkCategories(){
            let objDrinkIdMap =  drinkToIdMap();
            // let arrDrinkIdMap = Object.keys();

            // first element
            $('#sel-drink').append(new Option("--", 0));

            for (var strDrink in objDrinkIdMap){
              $("#sel-drink").append(new Option(strDrink, objDrinkIdMap[strDrink]));      
            }
          }

          function drinkToIdMap(objDrinks){
            objDrinks = objDrinks || JSON.parse(strData);
            let objRetDrinks = {};

            for (let i in objDrinks){
              let objDrinkData = objDrinks[i];

              objRetDrinks[objDrinkData.drink_type] = i;
            }

            return objRetDrinks;
          }

          $(() => {

          
            loadDrinkCategories();

            $('#sel-drink').on('change', function() {

              let intDrinkType = this.value;

              // show all
              $('tbody tr').show();

              // hide all but one
              if (intDrinkType != 0){
                $(`tbody tr:not([drink-number="${intDrinkType}"], [data-drink_type="${intDrinkType}"], .tr-end-block)`).hide();
              }
            });
          });
        
        </script>
        <style>
          #sel-drink{
            width: 80%;
            margin: 0 auto 20px;
          }
        </style>
        <select class="form-control" id="sel-drink">
        </select>


  <!-- ruby code --->


    <%= react_component 'DrinksTable', data: data %>
        

  <!-- end --->



        </div>



<!-- main partial #2 -->
    <% 
      # render partial: 'components/steps_nav_next', locals: {
      # go_back_class: '',
      # go_back_url: steps_get_speakers_path,
      # continue_url: steps_get_total_path,
      # continue_id: "a-step2-continue"
    # } 
    
    %>
<!-- end -->

<% 
    
    if (defined? mode) && (mode == :edit_mode) 
      _continue_url = "/event/update/#{event_id}/5"
      _go_back_url = "/event/update/#{event_id}/1"
    else
      _go_back_url = steps_get_speakers_path
      _continue_url = steps_get_total_path
    end
    
%>

<!-- main partial #2 -->
      <%= render partial: 'components/steps_nav_next', locals: {
        go_back_class: '',
        go_back_url: _go_back_url,
        continue_url: _continue_url,
        continue_id: "a-step2-continue"
      } 
    
    %>

<!-- end -->

</div>

































<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>

  const MIN_DRINK_ORDER = 400;

  function setup(){
    initHandlers();
    setTimeout(loadCookieData.bind(this), 500);
    toggleHasRunSetup();
  }

  function init(){
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(() =>{
      rerunSetupIfNeeded()
    }, 500);
  }

  function getPageData(){

    var objDrinks = null;
    
    if (validatePage()){
      objDrinks = {
        drinks: getDrinks()
      };
    }

    return objDrinks;
  }

  function saveDataToHiddenField(objData){
    objData = objData || getDrinksDataFromCookie();

    var strData = JSON.stringify(objData);
    $("#inp-txt-data").val(strData);
    $("#inp-txt-output").val(strData);
  }

  function loadCookieDataIntoFields(objData){
    objData = objData || getDrinksDataFromCookie();

    for (var intDrinkId in objData){
      var objDrinkData = objData[intDrinkId];
      var objItemData  = objDrinkData["items"];
      
      for (var intItemId in objItemData){
        var intQuantity = objItemData[intItemId].quantity;
        var strId = `${intDrinkId}.${intItemId}`;
        
        $(`[id="${strId}"]`).val(intQuantity);
      }
    }
  }

  function loadCookieData(objData){
    objData = objData || getDrinksDataFromCookie();

    if (objData){
      loadCookieDataIntoFields(objData);
      saveDataToHiddenField(objData);
    }
    else{
    }
  }

  function getDrinksDataFromCookie(){
    var objData = getCookieObj();
    var objDrinks = objData.hasOwnProperty("drinks") ? objData.drinks : null;
    return objDrinks;
  }

  function getDrinks(){
    var strData = $("#inp-txt-output").val() || $("#inp-txt-data").val();
    var objData = JSON.parse(strData);

    return objData;
  }

  function noNegativeQuantityOfDrinks(){
    const objDrinkData = getDrinksSubtotalData(getDrinks());

    for (let i in objDrinkData){
      if (objDrinkData[i].subtotal < 0){
        alert('No negative quantity of drinks allowed.');
        return false;
      }
    }

    return true;
  }

  function drinkMinimumReached(){
    const boolIsDrinksOrder   = !!getDrinksSubtotalData(getDrinks()).length;
    const boolIsSpeakersOrder = !!getSpeakerSubtotalData().subtotal;
    const boolIsOnlyDrinks    = boolIsDrinksOrder && !boolIsSpeakersOrder;
    const boolIsValidDrinks   = (boolIsOnlyDrinks && isMoreThanMinValue()) || boolIsSpeakersOrder;

    console.table({boolIsDrinksOrder, boolIsSpeakersOrder, boolIsOnlyDrinks, boolIsValidDrinks});

    return boolIsValidDrinks;
  }

  function eitherDrinksOrSpeakers(){
    const boolIsDrinksOrder   = !!getDrinksSubtotalData(getDrinks()).length;
    const boolIsSpeakersOrder = !!getSpeakerSubtotalData().subtotal;

    return boolIsDrinksOrder || boolIsSpeakersOrder;
  }

  function isMoreThanMinValue(){
    const objDrinkData = getDrinksSubtotalData(getDrinks());
    let intTotal = 0;

    for (let i in objDrinkData){
      intTotal += objDrinkData[i].subtotal;
    }

    console.log("intTotal: ", intTotal);

    if (intTotal <= MIN_DRINK_ORDER){
      return false;
    }

    return true;
  }

  function validatePage(){
    let boolIsValid = true;
    const boolIsDrinksOrder   = !!getDrinksSubtotalData(getDrinks()).length;
    const boolIsValidSpeakerOrDrinks = eitherDrinksOrSpeakers();

    if (!boolIsValidSpeakerOrDrinks){
      boolIsValid = false;
      alert('You have to order drinks and/or speakers to continue.');
    }
    else if(boolIsDrinksOrder && !drinkMinimumReached()){
      
      boolIsValid = false;
      alert(`To order only drinks, you have to order more than GHS ${MIN_DRINK_ORDER} in value`)  ; 
    }

    return boolIsValid;
  }

  function initHandlers(){
    var that = this;

    // click continue
    // document
    //  .getElementsByClassName("a-continue")[0]
    //  .addEventListener("click", handleClickContinue);

    
    $("#a-step2-continue").click(handleClickContinue.bind(that));
  }

  init();

</script>








<!-- ruby code --->

      <% if (defined? mode) && (mode == :edit_mode) %>

        <script type="text/javascript">

          var that = this;

          $(() => {
            // $(".a-edit-nav-link").click(saveDataToCookie.bind(that);
            $(".a-edit-nav-link").click(() => {
              saveDataToCookie.call(that)
            });
          })

        </script>
        
      <% end %>

<!-- end --->








</body>

</html>
