<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step6_payment</title>


<style type="text/css">
    
.div-background{
  width: 100vw;
  background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
  background-color: var(--main-bg-color);
  position: relative;
  min-height: 100vh;
  overflow: scroll;
}

    .div-to-max{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3{
      text-align: center;
    }

    .div-two-columns * {
      margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .div-two-columns:after {
      clear: both;
    }

    .div-clickable{
      cursor: pointer;
    }

    .div-clickable:hover *{
      
    }

    .div-col{
      min-height: 200px;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      position: relative;
      right: 25px;
      width: calc(50% - 50px);
    }

    .icon{
      font-size: 4em;
    }

    @media all and (max-width: 500px) {
        .div-two-columns > div {
            float: none;
            width: 100%;
        }
    }

</style>


</head>





























<body>

  <div class="div-background">

  <!-- main partial #1 -->
    <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
  <!-- end -->


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <div class="div-to-max">
    <div class="div-main-content">

      <h3 id="toc_3">Step 7: Payment</h3>

      <div class="div-two-columns">
        <div class="div-col div-col-left div-clickable">
          <i class="icon far fa-credit-card"></i>
          <p>Bank card</p>
        </div>
        <div class="div-col div-col-right div-clickable">
          <i class="icon fas fa-money-bill"></i>
          <p>Cash on delivery</p>
        </div>
      </div>

      <!-- input type="text" id="inp-ip-address" placeholder="ip address" value="192.168.1.2"/>
      <button class="btn btn-standard" id="btn-fire-payload">Send</button -->

    </div>
  </div>























<%= form_with(model: @event) do |f| %>
<% end %>

<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>

  let strPaymentType = "";

  $(() => {

    let strIP = "192.168.1.4";

    function init(){
      console.log('step 7 > init');
      initHandler();
    }

    function firePayload(_objData){
      console.log("firePayload");

      let strUrl = `/event/payment`;
      objData = {
        authenticity_token: window._token,
        data: _objData
      };
      let strObjData = JSON.stringify(objData);
  
      fetch(strUrl,
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: 'POST',
        body: strObjData
      })
        .then((resp) => {
          console.log(resp);
          return resp.json();
        })
        .then((data) => {

          let strResp = data.response;
          let strRedirectUrl = "";

          if (strResp === true){
            strRedirectUrl = '/steps/step8_confirmation'; // 
          }
          else{
            let objResp = JSON.parse(strResp);
            strRedirectUrl = objResp.redirect_url; // '/steps/step8_confirmation'; // 
          }
          window.location.replace(strRedirectUrl)

        })
        .catch((err) => {
          console.log(err)
        })
    }

    function initHandler(){

      var that = this;
      // $("#btn-fire-payload").click(firePayload);
      // setTimeout(firePayload.bind(that), 2000);

      $(".div-col-left").click(handleCardClick.bind(that));
      $(".div-col-right").click(handleCashClick.bind(that));
    }

    function handleCardClick(){
      console.log('handleCardClick');
      
      appendDataToCookie({
        payment_type: "Bank card"
      });

      let objData = {
        interpay: getInterpayPayload(),
        wattsnshots: getCookieObj(),
      };
      firePayload(objData);
    }

    function handleCashClick(){
      console.log('handleCashClick');
      
      appendDataToCookie({
        payment_type: "Cash on delivery"
      });

      let objData = {
        wattsnshots: getCookieObj(),
      };

      firePayload(objData);
    }

    

    function getInterpayPayload(){

      // let strIPAddress = strIP || $("#inp-ip-address").val();
      let strReturnURL = `https://wattsnshots.com/steps/step8_confirmation`;
      let intAmount = +getTotalData().pop().subtotal;
      let strCurrency = intAmount.toFixed(2);
      

      let objPayload = {
        app_id: 2452016049,
        app_key: "test",
        order_id: "abc123",
        currency: "GHS",
        amount: strCurrency,
        order_desc: "Testing",
        return_url: strReturnURL
      }

      console.log("getInterpayPayload | objPayload: ", objPayload);

      return objPayload;
    }

    init();

    
    
  })
</script>































</body>

</html>

































