<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step8 | confirmation</title>


<style type="text/css">
    
.div-background{
  width: 100vw;
  height: 80vw;
  min-height: 800px;
  max-height: 900px;
  background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
  background-color: var(--main-bg-color);
  position: relative;
  overflow: scroll;
}

    .div-to-max{
      width: 100%;
      height: 43vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3{
      text-align: center;
    }

    table.tbl-total-table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

</style>


</head>






















<body>

  <div class="div-background">

  <!-- ruby code --->

  <% if (defined? mode) && (mode == :edit_mode) %>

    <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

    <script type="text/javascript">
      var mode = "edit_mode";
    </script>
    
  
    <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <% # render partial: 'components/steps_nav_edit', locals: {current_page: current_page, event_id: event_id} %>



  <% else %>

    <!-- main partial #1 -->
        <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <!-- end -->
  
  <% end %>
<!-- end -->


    <div class="div-to-max">
      <div class="div-main-content">


      
      
      <h3 id="toc_3">Step 8: Confirmation</h3>

      <!-- ruby code --->
            <% if (defined? mode) && (mode == :read_mode) %> 

              <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

              <script>
                var mode = "read_mode";
              </script>

            <% end %>
      <!-- end --->

      <!-- ruby code --->
            <% if (defined? mode) && (mode == :edit_mode)  %>

              <%= render partial: 'components/cookie_widget', locals: {event_id: event_id} %>

              <script type="text/javascript">
                var mode = "edit_mode";
              </script>
              
            <% end %>
      <!-- end --->

      <h3 id="toc_4">Order Summary</h3>

      <!-- ruby code --->
            <% if !defined? mode %>
              <p>This is your order summary, showing you how much your order would cost:</p>
            <% end %>
      <!-- end --->

          <%= react_component 'TotalsTable' %>
          <p><br/></p>

          <h4 id="toc_8">Time</h4>

          <p><span id="spn-time">31st December, 2018</span></p>

          <h4 id="toc_9">Location</h4>

          <p><span id="spn-location"></span></p>

          <h4 id="toc_9">Setting</h4>

          <p><span id="spn-setting"></span></p>

          <p><br></p>














          <!-- ruby code --->

          <% if !defined? mode || mode == :delete_mode %>
    
            <h3 id="toc_8">Our Refund Policy</h3>
    
            <ol>
            <li><p>Cancellation MUST be More than 48 hours before the booked time/date, or they will lose their deposit.</p></li>
            <li><p>Assuming the cancellation is more than 48 hours in advance, then a 12% handling fee will be deducted and the balance refunded.</p></li>
            </ol>
    
          <% end %>
    
    <!-- ruby code --->
    
    
    
            <% if (defined? mode) && (mode == :edit_mode) %>
    
            <script type="text/javascript" src="/javascripts/site/common.js"></script>
    
            <%= form_with(model: @event) do |f| %>
            <% end %>
    
            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          <% elsif (defined? mode) && (mode == :delete_mode) %>
    
            <script type="text/javascript" src="/javascripts/site/common.js"></script>
    
            <%= form_with(model: @event) do |f| %>
            <% end %>
    
            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
            <h3 id="toc_9">Confirm Event Cancellation</h3>
            <ul>
            <li><%= link_to "Delete", steps_get_confirmation_path, id: "a-delete_event" %></li>
            </ul>
    
          <% end %>
    
    <!-- end -->




      </div>
    </div>

<!-- end -->

  </div>


<style>
a.disabled {
    pointer-events: none;
    color: gray;
}
</style>































<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>


  function setup(){
    setupTimeAndLocation();
  }

  function init(){
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(rerunSetupIfNeeded(), 500);
  }

  init();

</script>



















































</body>

</html>
