<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step1_speakers</title>



</head>




































<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



<style>
    
  .div-background{
    width: 100%;
    /* background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop)); */
    background-image: url('/images/speakers.png');
    background-repeat: no-repeat;
      background-size: cover;
    background-color: var(--main-bg-color);
    position: relative;
    padding: 0 0 50px 0;
    overflow: scroll;
  }

  .div-main-content{
  }

  .div-speaker-table-wrapper{
    display: grid;
    width: 100%;
    place-content: center;
  }

    #toc_3{
      text-align: center;
    }

    table.tbl-speaker-table {
      opacity: 0.9;
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      max-width: 700px;
      width: calc(100% - 60px);
      box-sizing: border-box;
      margin: 30px;
    }

    .tbl-speaker-table *{
      text-align: center;
    }

    .tbl-speaker-table td {
      background: #e6e6e6;
    }

    .tbl-speaker-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-speaker-table th, .tbl-speaker-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }
  </style>






<body>
  
<div class="div-background">
    

  

<!-- ruby code --->

      <% if (defined? mode) && (mode == :edit_mode) %>

        <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

        <script type="text/javascript">
          var mode = "edit_mode";
        </script>
        
      
        <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
        <%= render partial: 'components/steps_nav_edit', locals: {current_page: current_page, event_id: event_id} %>



      <% else %>

        <!-- main partial #1 -->
            <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
        <!-- end -->
      
      <% end %>
<!-- end -->


  <div class="div-main-content">
    <h3 id="toc_3">Step 1: Rent Speakers</h3>

    
    <p>&nbsp;</p>




    <!-- ruby code --->

          <%= react_component 'SpeakerTable', data: data %>

    <!-- end -->


  </div>


    <% 
    
    if (defined? mode) && (mode == :edit_mode) 
      _continue_url = "/event/update/#{event_id}/2"
    else
      _continue_url = steps_get_drinks_path
    end
    
    %>

<!-- main partial #2 -->
      <%= render partial: 'components/steps_nav_next', locals: {
        go_back_class: 'disabled',
        go_back_url: "#",
        continue_url: _continue_url,
        continue_id: "a-step1-continue"
      } 
    
    %>

<!-- end -->

</div>














<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
  .modal-body{
    position: relative
  }

  .div-card-speaker{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .img-speaker{
    width: 460px;
    height: 340px;
    /* width: 600px;
    height: 450px; */
    background: url('https://3wga6448744j404mpt11pbx4-wpengine.netdna-ssl.com/wp-content/uploads/2015/05/loading.gif') 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;
  }

  #speakersModalLabel{
    text-align: center;
  }

  .modal-footer{
    display: grid;
    place-content: center;
  }

</style>
<div class="modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="speakersModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="div-card-speaker">
          <section id="sec-image-wrapper">
            <img class="img-speaker">
          </section>
          <section id="sec-speaker-desc">
            This is our cheapest speaker
          </section>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





















<script>
  let strJsonSpeakersData = '<%= data %>';
  let objSpeakersData = JSON.parse(strJsonSpeakersData);
</script>

<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>

  
  function setup(){
    console.log("step 1 > setup");  

    initHandlers();
    setTimeout(setupSpeakerChoice.bind(this), 500);
    toggleHasRunSetup();
  }
  

  function setupSpeakerChoice(){
  
    var strRadioBtnId =  "";
    var objSpeakerChoice = getSelectedSpeakerFromCookie();

    var intId = objSpeakerChoice && objSpeakerChoice.hasOwnProperty("id") ? objSpeakerChoice.id : 0;

    console.log("objSpeakerChoice: ", objSpeakerChoice);
    console.log("intId: ", intId);
    
    if (intId){
      document.getElementById(intId).checked = true;
      var strData = $(`[id='${intId}']`).attr('obj-data');
      $("#inp-txt-output").val(strData);
    }
  }

  function init(){
    setup();

    setTimeout(() =>{
      initHandlers()
    }, 500);

    /*
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(() =>{
      rerunSetupIfNeeded()
    }, 500); */
  }

  function getSelectedSpeakerFromCookie(){
    var objCookieData = getCookieObj();
    var objSpeaker = objCookieData.hasOwnProperty("speaker") ? objCookieData.speaker : null;

    return objSpeaker;
  }

  function getSelectedSpeaker(){

    if (!$("#rdo-none").prop("checked")){
      var strSelectedSpeaker = $("#inp-txt-output").val();
      var objSelectedSpeaker = null;

      if (strSelectedSpeaker){
        objSelectedSpeaker = JSON.parse(strSelectedSpeaker);
      }
    }
    else{
      objSelectedSpeaker = {
        name: 'None',
        price: 0,
      };
    }

    return objSelectedSpeaker;
  }

  function getPageData(){

    var objSpeakerSet = null;
    
    if (validatePage()){
      objSpeakerSet = {
        speaker: getSelectedSpeaker()
      };
    }

    return objSpeakerSet;
  }

  function validatePage(){
    var strSpeaker;
    var boolIsValid = false;

    if (getSelectedSpeaker() != null){
      boolIsValid = true;
    }
    else{
      var strMsg = "Invalid entry: you have to select an option";
      showErrorMessage(strMsg);
    }

    return boolIsValid;
  }

  function handleInfoClick(evt){
    

    evt.preventDefault();
  }

  function setInfoInModal(strSpeakerPackage, strImageUri, strDescription){
    
    $("#speakersModalLabel").html(`Speaker Package '${strSpeakerPackage}'`);
    $("#sec-speaker-desc").html(strDescription);

    setModalImage(strImageUri);
  }

  function setModalImage(strImageUri){
    let image = $(".img-speaker")[0];
    let downloadingImage = new Image();

    downloadingImage.onload = function(){
      image.src = this.src;
    }
    downloadingImage.src = strImageUri;
  }

  function setModalSpeakerData(clickEvent){
    var objThis = this;

    let $target = $(clickEvent.target).parent('span');

    let strTargetId = $target.attr('id');
    let intId = +strTargetId.split('-')[3];
    let objSpeakerData = objSpeakersData[intId + 1];

    let strSpeakerPackage = objSpeakerData.name;
    let strSpeakerDesc = objSpeakerData.description;
    let strImageUri = objSpeakerData.image;

    setInfoInModal.call(objThis, strSpeakerPackage, strImageUri, strSpeakerDesc);
  }

  function initHandlers(){

    var objThis = this;

    console.log("step 1 > initHandlers");
    // click continue
    document
      .getElementsByClassName("a-continue")[0]
      .addEventListener("click", handleClickContinue);

    $(".span-info").click(function(evt){

      setModalSpeakerData.call(objThis, evt);
      $("#speakersModal").modal();

    })
  }

  $(() => {
    init();
  });

</script>



<!-- ruby code --->

      <% if (defined? mode) && (mode == :edit_mode) %>

        <script type="text/javascript">

          var that = this;

          $(() => {
            // $(".a-edit-nav-link").click(saveDataToCookie.bind(that);
            $(".a-edit-nav-link").click((event) => {
              saveDataToCookie.call(that);
            });
          })

        </script>
        
      <% end %>

<!-- end --->

          


























</body>

</html>
