<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Watts & Shots | Step3: total</title>


<style type="text/css">
    
    .div-background{
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
      background-color: var(--main-bg-color);
      position: relative;
      padding: 0 0 50px 0;
      overflow: scroll;
    }

    .div-total-table-wrapper{
      display: flex;
      width: 100%;
      place-content: center;
    }

    table.tbl-total-table {
      opacity: 0.9;
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      max-width: 700px;
      width: calc(100% - 60px);
      box-sizing: border-box;
      margin: 30px;
    }

    #toc_3{
      text-align: center;
    }

    table.tbl-total-table {
      opacity: 0.9;
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

</style>


</head>





























<body>

  <div class="div-background">

    <!-- main partial #1 -->
      <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <!-- end -->



    <!-- div class="div-to-max"><div class="div-main-content" -->

        <h3 id="toc_3">Step 3: Totalling It Up</h3>

        <%= react_component 'TotalsTable' %>
        
      </div>
    </div>

    <!-- main partial #2 -->
    <%= render partial: 'components/steps_nav_next', locals: {
      go_back_class: '',
      go_back_url: steps_get_drinks_path,
      continue_url: steps_get_logged_in_path,
      continue_id: "a-step2-continue"
    } 
    
    %>
<!-- end -->

  </div>


<style>
a.disabled {
    pointer-events: none;
    color: gray;
}
</style>































<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", init());

  function setup(){
    initHandlers();
    // setupTableData();
  }
  

  function init(){
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(() =>{
      rerunSetupIfNeeded()
    }, 500);
  }

  function getPageData(){

    var objRetData = null;
    
    if (validatePage()){
      objRetData = {
        total: getTotalData()
      }
    }

    return objRetData;
  }

  function validatePage(){
    var strSpeaker;
    var boolIsValid = true;

    return boolIsValid;
  }

  function initHandlers(){
    // click continue
    document
      .getElementsByClassName("a-continue")[0]
      .addEventListener("click", handleClickContinue);
  }

  init();
</script>






































</body>

</html>
