<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step5_location</title>


<style type="text/css">
</style>

</head>



















<!-- start new layout template -->




<style type="text/css">
    
.div-background{
  width: 100%;
  background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
  background-color: var(--main-bg-color);
  position: relative;
  padding: 0 0 100px 0;
  overflow: scroll;
}

    .div-to-max{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3{
      text-align: center;
    }

    table.tbl-total-table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

</style>


</head>











<body>

  <div class="div-background">

  <!-- ruby code --->

  <% if (defined? mode) && (mode == :edit_mode) %>

    <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

    <script type="text/javascript">
      var mode = "edit_mode";
    </script>
    
  
    <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <%= render partial: 'components/steps_nav_edit', locals: {current_page: current_page, event_id: event_id} %>



  <% else %>

    <!-- main partial #1 -->
        <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <!-- end -->
  
  <% end %>
<!-- end -->


    <div class="div-to-max">
      <div class="div-main-content">

        <h3 id="toc_3">Step 5: Party Date and Location</h3>
<!--
        <p>This is how much your order would cost:</p>

        <%= react_component 'TotalsTable', data: @speaker_data %>
-->


        <!-- https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete -->
        <p>Where are you hosting your party?</p>
        <!--  google code  -->
        
        
        <style>
        
              /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
              #map {
                height: 300px;
                width: 100%;
              }
        
              #description {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
              }
        
              #infowindow-content .title {
                font-weight: bold;
              }
        
              #infowindow-content {
                display: none;
              }
        
              #map #infowindow-content {
                display: inline;
              }
        
              .pac-card {
                margin: 10px 10px 0 0;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                background-color: #fff;
                font-family: Roboto;
              }
        
              #pac-container {
                padding-bottom: 12px;
                margin-right: 12px;
              }
        
              .pac-controls {
                display: inline-block;
                padding: 5px 11px;
              }
        
              .pac-controls label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
              }
        
              #inp-txt-location {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin: 10px 0px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 100%;
              }
        
              #inp-txt-location:focus {
                border-color: #4d90fe;
              }
        
              #title {
                color: #fff;
                background-color: #4d90fe;
                font-size: 25px;
                font-weight: 500;
                padding: 6px 12px;
              }

              .div-in-or-out{
                position: relative;
                left: 2em;
              }
            </style>
        
        
        
        <input id="inp-txt-location" type="text" placeholder="Enter a location">
          
        <div id="map"></div>
        <div id="infowindow-content">
          <img src="" width="16" height="16" id="place-icon">
          <span id="place-name"  class="title"></span><br>
          <span id="place-address"></span>
        </div>
        
        <!-- Replace the value of the key parameter with your own API key. -->
        
        
        <script>
        
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 5.55602, lng: -0.1969},
            zoom: 13
          });
          
          var input = document.getElementById('inp-txt-location');
          var types = document.getElementById('type-selector');
          var strictBounds = document.getElementById('strict-bounds-selector');
        
          var options = {
            // types: ['(cities)'],
            componentRestrictions: {
              country: "gh",
              // locality: 'accra',
            }
          };
        
          var autocomplete = new google.maps.places.Autocomplete(input, options);
        
          // Bind the maps bounds (viewport) property to the autocomplete object,
          // so that the autocomplete requests use the current map bounds for the
          // bounds option in the request.
          autocomplete.bindTo('bounds', map);
        
        
          var infowindow = new google.maps.InfoWindow();
          var infowindowContent = document.getElementById('infowindow-content');
          infowindow.setContent(infowindowContent);
          var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
          });
        
          autocomplete.addListener('place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
              // User entered the name of a Place that was not suggested and
              // pressed the Enter key, or the Place Details request failed.
              window.alert("No details available for input: '" + place.name + "'");
              return;
            }
        
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
            } else {
              map.setCenter(place.geometry.location);
              map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
        
            var address = '';
            if (place.address_components) {
              address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
              ].join(' ');
            }
        
            infowindowContent.children['place-icon'].src = place.icon;
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-address'].textContent = address;
            infowindow.open(map, marker);
          });
        }
        
        
        </script>
        
        
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvt8XNlUCIde_SUvVlGem0DprRYH4Pm_g&libraries=places&callback=initMap"
                async defer></script>
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- google maps -->        
        
        <p>&nbsp;</p>
        <p></p>

        <p>When are you hosting your party? </p>
        
        <!-- https://eonasdan.github.io/bootstrap-datetimepicker/#date-only -->
        <span>date: </span><input type='text' class="form-control" id="inp-txt-when-date" />
        
        <span>time: </span>
        <select class="form-control" id="sel-time">
          <option>Morning</option>
          <option>Afternoon</option>
          <option>Evening</option>
        </select>
        <p>&nbsp;</p>
        <p>Is your party indoors or outdoors? </p>
        <div class="div-in-or-out">
          <input type="radio" name="in_or_out" id="rad-indoors" value="indoors" checked> Indoors<br>
          <input type="radio" name="in_or_out" id="rad-outdoors" value="outdoors"> Outdoors<br>
        </div>

      </div>
    </div>

<% 
    
    if (defined? mode) && (mode == :edit_mode) 
      _continue_url = "/event/update/#{event_id}/6"
      _go_back_url = "/event/update/#{event_id}/2"
    else
      _go_back_url = steps_get_total_path
      _continue_url = steps_get_review_path
    end
    
%>

<!-- main partial #2 -->
    <%= render partial: 'components/steps_nav_next', locals: {
        go_back_class: '',
        go_back_url: _go_back_url,
        continue_url: _continue_url,
        continue_id: "a-step2-continue"
      } 
    
    %>

<!-- end -->


<style>
a.disabled {
    pointer-events: none;
    color: gray;
}
</style>


<!-- end new layout template -->




























<body>






<input type="hidden" id="inp-txt-user-id" value="1">

























<script type="text/javascript" src="/javascripts/site/common.js"></script>

<!-- date and time ui elements js -->
<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
<link rel="stylesheet" href="/stylesheets/jquery-ui.structure.css">
<link rel="stylesheet" href="/stylesheets/jquery-ui.theme.css">
<link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">

<script type="text/javascript" src="/javascripts/lib/jquery.timepicker.js"></script>
<script type="text/javascript" src="/javascripts/lib/jquery-ui.js"></script>



<script type="text/javascript" src="/javascripts/site/common.js"></script>

<script>


  function setup(){
    initDateTimePickers();
    initHandlers();
    setupLocationTimeInOut();
    setupTableData();
  }

  function initDateTimePickers(){
    // date picker
    /* http://api.jqueryui.com/datepicker/ */
    $( "#inp-txt-when-date" ).datepicker({
      minDate: '+2D',
      dateFormat: "mm-dd-yy"
    });
    
  }

  function setupLocationTimeInOut(){
    document.getElementById("inp-txt-location").value = getLocation();

    setupDateTime();
    setupInOrOut();
  }

  function setupDateTime(){
    var strTime         = getTime(); // bookmark

    console.log("setupDateTime | strTime: ", strTime);

    if (strTime){
      var arrTimeParts  = strTime.split(' ');
      var strDate       = arrTimeParts[0];
      var strNewTime       = arrTimeParts[1];

      console.log("strTime: ", strTime);
      console.log("strDate: ", strDate);
      console.log("strNewTime: ", strNewTime);

      let strTimeVal = "";

      switch (strNewTime){
        case "10:00AM":
          strTimeVal = "Morning";
          break;
        case "2:00PM":
          strTimeVal = "Afternoon";
          break;
        case "5:00PM":
          strTimeVal = "Evening";
          break;
      }
      
      $("#inp-txt-when-date").val(strDate);
      $("#sel-time").val(strTimeVal); // bookmark
    }
  }

  // bookmark
  function setupInOrOut(){
    var strInOrOut = getIndoorsOutdoors();
    $(`#rad-${strInOrOut}`).prop("checked", true);
  }


  function init(){
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(() =>{
      rerunSetupIfNeeded()
    }, 500);
  }

  function getPageData(){

    var objRetData = null;
    
    if (validatePage()){
      objRetData = {
        location: getLocationFromPage(),
        time:     getTimeFromPage(),
        user_id:  getUserIdFromPage(),
        in_or_out: getIndoorsOutdoorsFromPage()
      };
    }

    return objRetData;
  }

  function getLocationFromPage(){
    var strLocation = document.getElementById("inp-txt-location").value

    return strLocation;
  }


  function getTimeFromPage(){
    var objTime = null;

    var strDate = $("#inp-txt-when-date").val();
    var strTimeOfDay = $("#sel-time").val(); // bookmark

    if (strDate && strTimeOfDay){
      let strTime = "";

      switch (strTimeOfDay){
        case "Morning":
          strTime = "10:00AM";
          break;
        case "Afternoon":
          strTime = "2:00PM";
          break;
        case "Evening":
          strTime = "5:00PM";
          break;
      }

      var strWhen = `${strDate} ${strTime}`;

      var objDate = moment(strDate, 'MM-DD-YYYY h:mmA');
      var strUnix = objDate.format('X');

      var objTime = {
        string: strWhen,
        timestamp: strUnix
      }
    }

    return objTime;
  }

  /*
      TODO: switch to session storage. More secure.
  */
  function getUserIdFromPage(){
    var strUserId = $("#inp-txt-user-id").val();
    return strUserId;
  }

  function getIndoorsOutdoorsFromPage(){
    var strInOrOut = $('input[name="in_or_out"]:checked').val()
    return strInOrOut;
  }

  function validatePage(){
    var boolIsValid = false;

    if (getLocationFromPage() && getTimeFromPage()){
      boolIsValid = true;
    }
    else{
      var strMsg = "Invalid entry: Please answer all questions";
      showErrorMessage(strMsg);
    }

    return boolIsValid;
  }

  function initHandlers(){
    // click continue
    document
      .getElementsByClassName("a-continue")[0]
      .addEventListener("click", handleClickContinue);
  }

  init();

</script>




























</body>

</html>
