<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>step7_review</title>


<style type="text/css">
    .div-background{
      width: 100vw;
      background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
      background-color: var(--main-bg-color);
      position: relative;
      padding: 0 0 100px 0;
      overflow: scroll;
    }

    .div-to-max{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      overflow: scroll;
    }

    .div-main-content{
      width: 60%;
    }

    #toc_3{
      text-align: center;
    }

    table.tbl-total-table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
    }

    .tbl-total-table *{
      text-align: center;
    }

    .tbl-total-table td {
      background: #e6e6e6;
    }

    .tbl-total-table th{
      background: #f5f5f5;
    }

    .tr-end-block td{
      background: #f5f5f5 !important;
    }
    

    .tbl-total-table th, .tbl-total-table td {
      padding: 0.7em;
      border-bottom: 2px solid white; 
    }

</style>


</head>






















<body>

  <div class="div-background">

  <!-- ruby code --->

  <% if (defined? mode) && (mode == :edit_mode) %>

    <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

    <script type="text/javascript">
      var mode = "edit_mode";
    </script>
    
  
    <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <%= render partial: 'components/steps_nav_edit', locals: {current_page: current_page, event_id: event_id} %>

  <% elsif (defined? mode) && (mode == :read_mode)%>

    <%= render partial: 'components/steps_header_lite', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>

  <% else %>

    <!-- main partial #1 -->
        <%= render partial: 'components/steps_header', locals: {current_page: current_page, is_user_logged_in: is_user_logged_in} %>
    <!-- end -->
  
  <% end %>
<!-- end -->



    <div class="div-to-max">
      <div class="div-main-content">


      <!-- ruby code --->
      <% if (defined? mode) && (mode == :delete_mode || mode == :edit_mode) %>
        <script text="text/javascript">
          var event_id = "<%= event_id %>";
          var foo = "bar";
        </script>

      <% end %>  
      <!-- end --->

      <!-- ruby code --->
            <% if !defined? mode %>
              <h3 id="toc_3">Step 6: Review</h3>
            <% elsif mode == :edit_mode %>
              <h3 id="toc_3">Step 6: Review and Save</h3>
            <% elsif mode == :delete_mode %>
              <h3 id="toc_3">Cancel Event</h3>
            <% elsif mode == :read_mode %>
              <h3 id="toc_3">View Event</h3>
            <% end %>
      <!-- end --->

      <!-- ruby code --->
            <% if (defined? mode) && (mode == :read_mode) %> 

              <%= render partial: 'components/cookie_widget', locals: {cookie_string: cookie_string, event_id: event_id} %>

              <script>
                var mode = "read_mode";
              </script>

            <% end %>
      <!-- end --->

      <!-- ruby code --->
            <% if (defined? mode) && (mode == :edit_mode)  %>

              <%= render partial: 'components/cookie_widget', locals: {event_id: event_id} %>

              

              <script type="text/javascript">
                var mode = "edit_mode";
              </script>
              
            <% end %>
      <!-- end --->

      <h3 id="toc_4">Order Summary</h3>

      <!-- ruby code --->
            <% if !defined? mode %>
              <p>This is your order summary, showing you how much your order would cost:</p>
            <% end %>
      <!-- end --->

          <%= react_component 'TotalsTable' %>
          <p><br/></p>

          <h4 id="toc_8">Date</h4>

          <p><span id="spn-time"></span></p>

          <h4 id="toc_9">Location</h4>

          <p><span id="spn-location"></span></p>

          <h4 id="toc_9">Setting</h4>

          <p><span id="spn-setting"></span></p>

          <p><br></p>













          <!-- ruby code --->

          <% if defined? mode && mode == :delete_mode %>
    
            <h3 id="toc_8">Our Refund Policy</h3>
    
            <ol>
            <li><p>Cancellation MUST be More than 48 hours before the booked time/date, or they will lose their deposit.</p></li>
            <li><p>Assuming the cancellation is more than 48 hours in advance, then a 12% handling fee will be deducted and the balance refunded.</p></li>
            </ol>
    
          <% end %>
    
    <!-- ruby code --->
    
    
    
            <% if (defined? mode) && (mode == :edit_mode) %>
    
            <script type="text/javascript" src="/javascripts/site/common.js"></script>
    
            <%= form_with(model: @event) do |f| %>
            <% end %>
    
            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
            <script>
    
            function setupEventHandlers(){
              console.log("setupEventHandlers");
    
              var objThis = this;
    
              $("#a-update_event")
                .unbind("click")
                .click(handleClickContinueWSubmit.bind(objThis));
            }
    
            function handleClickContinueWSubmit(objEvent){
    
              console.log("handleClickContinueWSubmit");
    
              patchToBackend();
              objEvent.preventDefault();
            }
    
            function patchToBackend(){
    
              console.log("patchToBackend | alpha");
          
              var strUrl = `/event/update/${event_id}`;
              var objData = {
                authenticity_token: window._token,
                data: getCookieObj()
              };
              var strObjData = JSON.stringify(objData);
          
              fetch(strUrl,
              {
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                method: 'PATCH',
                body: strObjData
              })
              .then((resp) => resp.json())
              .then((data) => {
                console.log(data);
                redirectToProfilePage();
              })
            }
    
            function redirectToProfilePage(){
              var strUrl = "/user/profile_page";
    
              window.location.replace(strUrl);
            }
    
            function setup(){
              setupEventHandlers();
            }
    
            function init(){
              var objThis = this;
              
              document.addEventListener("DOMContentLoaded", () => {
                setup.call(objThis);
              })
    
              setTimeout(rerunSetupIfNeeded, 500);
            }
    
            // init();
            setTimeout(setupEventHandlers, 1000);
    
            </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          <% elsif (defined? mode) && (mode == :delete_mode) %>
    
            <script type="text/javascript" src="/javascripts/site/common.js"></script>
    
            <%= form_with(model: @event) do |f| %>
            <% end %>
    
            <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    
            <!-- h3 id="toc_9">Confirm Event Cancellation</h3>
            <ul>
            <li><%= link_to "Delete", steps_get_confirmation_path, id: "a-delete_event" %></li>
            </ul -->
    
            <script>
    
            // bookmark
            function setupEventHandlers(){
              console.log("setupEventHandlers");
    
              var objThis = this;
    
              $("#a-delete_event")
                .unbind("click")
                .click(handleClickToDelete.bind(objThis));
            }
    
            function handleClickToDelete(objEvent){
    
              console.log("handleClickToDelete");
    
              deleteToBackend();
              objEvent.preventDefault();
            }
    
            function deleteToBackend(){
    
              console.log("deleteToBackend | alpha");
          
              var strUrl = `/event/delete/${event_id}`;
              var objData = {
                authenticity_token: window._token
              };
              var strObjData = JSON.stringify(objData);
          
              fetch(strUrl,
              {
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                method: 'DELETE',
                body: strObjData
              })
              .then((resp) => resp.json())
              .then((data) => {
                console.log(data);
                redirectToProfilePage();
              })
            }
    
            function redirectToProfilePage(){
              var strUrl = "/user/profile_page";
    
              window.location.replace(strUrl);
            }
    
            function setup(){
              setupEventHandlers();
            }
    
            function init(){
              var objThis = this;
              
              document.addEventListener("DOMContentLoaded", () => {
                setup.call(objThis);
              })
    
              setTimeout(rerunSetupIfNeeded, 500);
            }
    
            // init();
            setTimeout(setupEventHandlers, 1000);
    
            </script>
          <% end %>
    
    <!-- end --->









      </div>
    </div>

    <% if (!defined? mode) || (mode != :edit_mode) || ((mode != :read_mode) && (mode != :delete_mode))%>

    <% 
    
    if (defined? mode) && (mode == :edit_mode) 
      _continue_url = "/event/update/#{event_id}/8"
      _go_back_url = "/event/update/#{event_id}/5"
      _partial = 'components/steps_nav_next_review_page'
      _event_id = event_id
    else
      _go_back_url = steps_get_location_path
      _continue_url = steps_get_payment_path
      _partial = 'components/steps_nav_next'
      _event_id = -1
    end
    
  %>

    <% if (!defined? mode) || (mode != :read_mode)%>

      <!-- main partial #2 -->
      <%= render partial: _partial, locals: {
        go_back_class: '',
        go_back_url: _go_back_url,
        continue_url: _continue_url,
        continue_id: "a-step2-continue",
        event_id: _event_id
      } 
      
      %>

    <% end %>

    <% elsif mode == :delete_mode %>

      <style>
        .btn-standard{
          background-color: #3D5AEF;
          padding: 10px 40px;
          border-radius: 25px;
          color: #eee;
          box-shadow: 0 3px 5px black;
          text-align: center;
        }

        #div-delete-container{
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      </style>
      <div id="div-delete-container">
      <%= link_to "Delete", steps_get_confirmation_path, id: "a-delete_event", class: 'btn btn-standard'  %></li>
      </div>

      <!--  working -->
      <% elsif mode == :edit_mode %>

      <style>
        .btn-standard{
          background-color: #3D5AEF;
          padding: 10px 40px;
          border-radius: 25px;
          color: #eee;
          box-shadow: 0 3px 5px black;
          text-align: center;
        }

        #div-delete-container{
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      </style>

      <div id="div-delete-container">
      <%= link_to "Delete", steps_get_confirmation_path, id: "a-delete_event", class: 'btn btn-standard'  %></li>
      </div>



    <% end %>
    
    
<!-- end -->

  </div>


<style>
a.disabled {
    pointer-events: none;
    color: gray;
}
</style>































<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>


  function setup(){
    setupTimeAndLocation();
  }

  function init(){
    var objThis = this;
    
    document.addEventListener("DOMContentLoaded", () => {
      setup.call(objThis);
    })

    setTimeout(rerunSetupIfNeeded(), 500);
  }

  init();

</script>



















































</body>

</html>