
<%= render 'sharedmailer/align_left_top' do %>

  <%= render 'sharedmailer/header_styling' do %>

    New Order! from <%= User.find_by_id(@event.user_id).name.capitalize %> (<%= User.find_by_id(@event.user_id).email %>)
    
  <% end %>
  
<% end %>


<%= render 'sharedmailer/align_left_top' do %>

    <p> Location: <b><%= @event.location %></b></p>
    
<% end %>


<%= render 'sharedmailer/align_left_top' do %>

    <p> Event date: <b><%= @event.time %></b></p>
    
<% end %>

<%= render 'sharedmailer/align_left_top' do %>

    <p> Other details: </p>
    
<% end %>

<%= render 'sharedmailer/align_center_middle' do %>



    <table style="text-align: left; width: 100%;">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>

        <% @event.get_total.each do |drink_type| %>

          <tr style="padding: 8px;">
            <td> <%= drink_type[:item] %> </td>
            <td> <%= drink_type[:quantity] %></td>
            <td>GHS <%= drink_type[:subtotal] %></td>
          </tr>

        <% end %>

    </table>
  
<% end %>


