
<%= render 'sharedmailer/align_left_top' do %>

  <%= render 'sharedmailer/header_styling' do %>

    New Order Receipt! 
    
  <% end %>
  
<% end %>


<%= render 'sharedmailer/align_left_top' do %>

    <p> Time: <b><%= @event.time.strftime("%m-%d-%Y") %> <%= @event.get_time_period %></b></p>
    
<% end %>

    

<%= render 'sharedmailer/align_left_top' do %>

    <p> Location: <b><%= @event.get_cookie_hash[:location] %></b></p>
    
<% end %>

<%= render 'sharedmailer/align_left_top' do %>

    <p> Setting: <b><%= @event.setting.capitalize %></b></p>
    
<% end %>

<%= render 'sharedmailer/align_left_top' do %>

    <p> Other details: </p>
    
<% end %>

<%= render 'sharedmailer/align_center_middle' do %>



    <table style="text-align: left; width: 100%;">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>

        <% @event.get_total.each do |drink_type| %>

          <tr style="padding: 8px;">
            <td> <%= drink_type[:item] %> </td>
            <td> <%= drink_type[:quantity] %></td>
            <td>GHS <%= drink_type[:subtotal] %></td>
          </tr>

        <% end %>

    </table>
  
<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>

