 <%= render :partial => 'sharedmailer/components/opening_remarks', 
    :locals => {:name => @resource.name} %>

<%= render 'sharedmailer/align_left_top' do %>

  <p>You can confirm your account email through the link below:</p>
  
<% end %>


<%= render 'sharedmailer/align_center_middle' do %>

  <%= render :partial => 'sharedmailer/components/link_text', 
    :locals => {
    	:url => confirmation_url(@resource, confirmation_token: @token),
     	:text => 'Confirm my account'
     			} %>

<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>
 
  
