 <%= render :partial => 'sharedmailer/components/opening_remarks', 
    :locals => {:name => @resource.name} %>


<%= render 'sharedmailer/align_left_top' do %>

	<% if @resource.try(:unconfirmed_email?) %>

	  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
	  
	<% else %>

	  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>

	<% end %>
  
<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>