 <%= render :partial => 'sharedmailer/components/opening_remarks', 
    :locals => {:name => @resource.name} %>

<%= render 'sharedmailer/align_left_top' do %>

	<p>We're contacting you to notify you that your password has been changed.</p>
  
<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>