 <%= render :partial => 'sharedmailer/components/opening_remarks', 
    :locals => {:name => @resource.name} %>

<%= render 'sharedmailer/align_left_top' do %>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  
<% end %>

<%= render 'sharedmailer/align_center_middle' do %>

  <%= render :partial => 'sharedmailer/components/link_text', 
    :locals => {
    	:url => edit_password_url(@resource, reset_password_token: @token),
     	:text => 'Change my password'
     			} %>

<% end %>

<%= render 'sharedmailer/align_left_top' do %>

	<p>Your password won't change until you access the link above and create a new one. If you didn't request this, please ignore this email.</p>
  
<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>