<%= render :partial => 'sharedmailer/components/opening_remarks', 
    :locals => {:name => @resource.name} %>

<%= render 'sharedmailer/align_left_top' do %>

  <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<% end %>

<%= render 'sharedmailer/align_left_top' do %>

  <p>Click the link below to unlock your account:</p>
  
<% end %>

<%= render 'sharedmailer/align_center_middle' do %>

  <%= render :partial => 'sharedmailer/components/link_text', 
    :locals => {
    	:url => unlock_url(@resource, unlock_token: @token),
     	:text => 'Unlock my account'
     			} %>

<% end %>

<%= render :partial => 'sharedmailer/components/closing_remarks' %>

