<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>homepage</title>
<style>

    .p-blurb{
      font-size: 1.5em;
      color: #eee;
      margin: 0 20px;
    }

    .div-page-canvas{
      background-image: linear-gradient(to bottom, #3D59ED, rgba(255, 255, 255, 0));
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .fill-page{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
    }

    .div-bkgd-image{
      background-image: url('./images/homepage-bkdg.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0 !important;
    }

    .div-page-container{
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0;
      position: relative;
    }

    body{
      padding: 0;
      margin: 0;
    }

    .div-panel-wrapper{
      width: 500px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .btn-standard{
      background-color: #3D5AEF;
      padding: 10px 40px;
      border-radius: 25px;
      color: #eee;
      box-shadow: 0 3px 5px black;  
    }
  </style>
 
</head>


























<%= stylesheet_link_tag "/stylesheets/homepage.scss" %>






<body>
  <div class="div-page-container div-page-container-homepage">
    <div class="div-bkgd-image fill-page"></div>
    <div class="div-page-canvas fill-page">
      <div position="relative" class="div-panel-wrapper">

      <img src="/images/wns.logo.png">

      <p class="p-blurb">Your one-stop shop for all your party needs</p>

      <%= link_to "Start planning", steps_get_speakers_path, class: 'btn btn-standard' %> 

      <% if is_user_logged_in %>
          <%= link_to "Your profile", get_profile_path, class: 'btn btn-standard' %>
      <% else %>
          <%= link_to "Login", '/login', class: 'btn btn-standard' %>
      <% end %>

      </ul>
      </div>
    </div>
  </div>
























<script type="text/javascript" src="/javascripts/site/common.js"></script>
<script>

  
function setup(){
  console.log("step 0 > setup");  

  eraseCookie();
  toggleHasRunSetup();
}

function init(){
  var objThis = this;
  
  document.addEventListener("DOMContentLoaded", () => {
    setup.call(objThis);
  })

  setTimeout(() =>{
    rerunSetupIfNeeded()
  }, 500);
}


init();

</script>




</body>

</html>
