<!DOCTYPE html>
<html>
  <head>
    <title>WattsNShots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Following will make the react components availabe to our layout -->
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= yield %>
    
    <!-- Javascript -->
  <%= yield :script %>
  <!-- Javascript -->
  </body>
</html>
