<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>WattsNShots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="div-background">
      <!-- main partial #1 -->
      <%= render partial: 'components/steps_header_lite', locals: {current_page: "profile_page", is_user_logged_in: false} %>
    <!-- end -->
      <div class="div-to-max">
        <div class="div-main-content">

          <%= yield %>


        </div>
      </div>
    </div>

    <style>
      .div-background{
        width: 100vw;
        height: 75vw;
        background-image: linear-gradient(to bottom, var(--main-bg-color), var(--main-bg-color-gradient-stop));
        background-color: var(--main-bg-color);
        position: relative;
      }

      .div-to-max{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
      }

      .div-main-content{
        width: 60%;
      }

      #toc_3, #toc_4{
        text-align: center;
      }
      .div-main-content a{
        color: white;
      }
      .field_with_errors{
        display: inline;
      }
    </style>
    <!-- Javascript -->
    <%= yield :script %>
    <!-- Javascript -->
  </body>
</html>
