<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

  </head>
  <body style="font-size: 14px;margin:0;padding:0; background-color:#edecec;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <center>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" >
        <%= render :partial => 'sharedmailer/components/spacing', :locals => {:spacing => '30'} %>

        <tr>
          <td align="center" height="100%" valign="top" width="100%">

            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;border-radius: 3px;padding: 20px;background-color: #ffffff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">

              <tr  >
                <td align="center" valign="center">
                  <a href="<%= @home_link %>" target="_blank">
                     <%=  image_tag attachments['logo.png'].url, 
                       :height => "60", 
                       :style => "margin:0;padding:0;border:none;display:block;", 
                       :border => "0", :alt => "logo"
                     %>
                  </a>
                </td>
              </tr>

              <%= render :partial => 'sharedmailer/components/spacing', :locals => {:spacing => '20'} %>

              <%= yield %>

            </table>
            <%= render "sharedmailer/components/spacing" %> 

          </td>
        </tr>
      </table>
    </center>
  </body>
</html>